[client]
host     = localhost
user     = root
password =
socket   = /var/run/mariadb/mariadb.sock
[mariadb_upgrade]
host     = localhost
user     = root
password =
socket   = /var/run/mariadb/mariadb.sock
