# The port that the API server should run on
PORT=8800
# Credentials of the Discord Application: https://discord.com/developers/applications
CLIENT_ID=
CLIENT_SECRET=
# The callback url from the Oauth2 flow, needs to be added as a redirect
OAUTH_CALLBACK_URL="http://localhost:8800/auth/oauth-callback"
# URL back to the dashboard
DASHBOARD_URL="http://localhost:1234"
# MariaDB credentials for use by the API server
DB_HOST="localhost"
DB_USER=
DB_PASSWORD=
DB_DATABASE=
# List of user IDs
STAFF=["123"]
