.Configurator {
}

.Configurator .options {
  display: grid;
  grid-auto-columns: min-content auto;
  grid-gap: 1px;

  overflow: hidden;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #fff;
}

.Configurator .options > h2 {
  grid-column: 1;

  margin: 0;
  padding: 8px 24px 8px 8px;

  white-space: nowrap;
  text-align: right;
  font-size: 16px;
  font-weight: 600;

  box-shadow: 0 0 0 1px #444;
}

.Configurator .options > .control {
  grid-column: 2;

  padding: 8px;
  box-shadow: 0 0 0 1px #444;
}

.Configurator label {
  display: block;
  padding: 0 0 8px;
}

.Configurator .result {
  margin-top: 16px;
  width: 100%;
  background-color: #eee;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 4px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  cursor: copy;
}
