*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  background-color: black;
  background: linear-gradient(45deg, #040a0e, #27699e);
  color: #f8f8f8;
  margin: 0;
}

.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.section {
  background-color: #000000b8;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.397);
}

.title {
  flex: 0 0 32px;
  background-color: #ffffff11;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.title h1 {
  margin: 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editor-wrap {
  flex: 0 0 100%;

  display: flex;
  flex-direction: column;
}

#editor {
  flex: 0 0 100%;
}

.monaco-editor {
  outline: 0 !important;
}

.errors-wrap {
  flex: 0 0 100%;

  display: flex;
  flex-direction: column;
  
  padding: 10px;

  overflow-y: auto;
}

#errors {
}

.error {
  color: hsl(10.7deg 58.76% 57.09%);
}

.noErrors {
  color: hsl(93.81deg 56.52% 52.07%);
  font-weight: 700;
}
